/* extra.css */

.bg-primary
{
  background-color: darkolivegreen !important;
  background-image: linear-gradient(forestgreen, green);
}

p
{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

pre
{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

a:link
{
  color: green;
}
a:visited
{
  color: darkgreen;
}
a:hover
{
  color: limegreen;
}
a:active
{
  color: darkolivegreen;
}

.table
{
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

th
{
  text-align: center;
}

p
{
  margin-bottom: unset !important;
}

ul
{
  margin-top: unset !important;
  margin-bottom: unset !important;
}

blockquote
{
  background-color: #f0f0f0;
  font-style: italic;
  padding: 10px;
  margin: 10px;
}

details
{
  border: 1px dotted OliveDrab;
  box-shadow: 1px 1px 2px #bbbbbb;
  padding: 1em;
  margin-bottom: 20px;
  border-radius: 4px;
  text-align: left;

  color: DarkOliveGreen;
  background-color: #bbccaa;
  border-color: Olive;
}

details > summary
{
  padding: 0.5em;
  width: 99%;
  color: DarkOliveGreen;
  font-weight: bold;
  background-color: #bbccaa;
  border: 1px solid transparent;
  border-radius: 4px;
}

.yes
{
  font-size: 1.2em;
  font-weight: bold;
  color: green;
}

.no
{
  font-size: 1.2em;
  font-weight: bold;
  color: red;
}

.title-image
{
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.affix
{
  overflow-y: scroll;
  max-height: 85vh;
}
